<%@creatures.each do |onecreature| %>
<div class="col m3">
  <p>
    <strong>Name:</strong> <%=onecreature.name%><br />
    <strong>Description:</strong><%=onecreature.description%>
  </p>
</div>
<% end %>
