<!-- Form Goes Here -->

<%= form_for @creature do |from_form| %>
<div class="col m4">
  <h5>Creature Name:</h5>
  <%=from_form.text_field :name%>
  <h5>Creature Description:</h5>
  <%=from_form.text_area :description%>
  <%=from_form.submit "Add Creature"%>
</div>
<% end %>
